/* Main Page Details */
body {
  background-color: black;
}
div {
}
.whole-page {
  background-color: white;
  padding: 40px 40px 50px 40px;
  margin: 20px 20px 0 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.page-head {
  text-align: center;
  padding-bottom: 120px;
}
.home {
  font-size: 90px;
  margin: 0px;
}
.sub {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}
.navigation {
  text-align: center;
  padding: 35px 35px;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}
.list {
  display:inline-block;
  margin: 0 75px 0 75px;
}
footer {
  margin: 120px;
  padding: 20px 0 20px 0;
  border-top: black solid 2px;
}
.copy {
  float: left;
}
.facebook {
  float: right;
}
/* OurPlace Main Content */
.ourplace-page {
  text-align: center;
  margin: 0;
  padding: 0;
}
.hours-card {
  float: left;
}
.contact-card {
  float: right;
}
